<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Router</title>
  </head>
  <body>
    <h1>Router</h1>
    <script src="/src/eko.js" type="text/javascript"></script>
  </body>
</html>
